%h1 All registered users

%table
  %thead
    %tr
      %th Name
      %th E-mail
      %th Is admin?
      %th

  %tbody
    - registered_users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.admin
        %td= link_to 'Toggle admin', toggleadmin_path(:id => user.id), method: :put